.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0% 5%;
    font-family: 'Poppins', sans-serif;
    div {
        flex-grow: 1;
    }
    .logo {
        p {
            display: inline-block;
            padding: 2%;
            &::first-letter {
                color: #FBB03B;
            }
        }
    }
    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8%;
        flex-grow: 2;
        li {
            display: inline-block;
            
        }
    }
    .icons {
        display: flex;
        gap: 8%;
        justify-content: end;
    }
}