.icons {
    display: flex;
    margin-right: 4%;
    gap: 130%;
    span {
        border: 1px solid #FBB03B;
        padding: 5%;
        font-size: 20px;
        width: 30px;
        height: 22px;
        border-radius: 50%;
        background-color: #FBB03B;
        color: white;
    } 
}
.dliver {
    transform: scaleX(-1);
    color: white;
}
@media (max-width:500px) {
    .icons {
        gap: 20%
    }
}