.div {
    display: flex;
    align-items: baseline;
    margin-left: 5%;
    font-family: 'Poppins';
    font-weight: 600;
    .first 
        a {
            padding: 1% 4%;
            margin-right: 2%;
            border-radius: 40px;
            color: black;
            &:first-child {
                border: 1px solid #FBB03B;
                background-color: #FBB03B;
            }
            &:nth-child(2) {
                border: 1px solid rgb(182, 182, 182);
                background-color: white;
            }
            }
            :hover {
                cursor: pointer;
        }
        .form {
            display: grid;
            grid-template-columns: 30% 30%;
            p {
                grid-column: 1/span 2;
                margin-top: 6%;
            }
            form {
                display: contents;
                input{
                    padding: 3% 10%;
                    border-radius: 50px;
                    border-color: #C1C1C1;
                    margin: 2%;
                    &:focus {
                        border: none;
                    }
                }
            }
        }
    .second {
        display: flex;
        flex-direction: column;
        margin-left: -40%;
        .payment {
            display: flex;
            flex-direction: column;
            .one {
                display: flex;
                flex-direction: row;
                span {
                    border: 1px solid rgb(122, 122, 122);
                    margin-right: 5%;
                    padding: 10px; 
                    width: 20%;
                    height: 15px;
                    border-radius: 50px;
                }
                :first-child img {
                    margin: -25px 0px;
                }
                :nth-child(3) img {
                    margin: -3px 15px;
                }
            }
            .two {
                display: flex;
                flex-direction: row;
                span {
                    border: 1px solid rgb(122, 122, 122);
                    margin-right: 5%;
                    margin-top: 5%;
                    padding: 10px; 
                    width: 20%;
                    height: 15px;
                    border-radius: 50px;
                }
                :first-child img {
                    margin: -2px 16px;
                }
                :nth-child(2) img {
                    margin: 5px 5px;
                }
                :nth-child(3) img {
                    margin: -6px 15px;
                }
            }
        }
        .delivery {
            display: flow-root;
            img {
                margin-right: 10px;
                width: 40%;
            };
        }
    }
    .third {
        .one {
            .div {
                display: flex;
                flex-direction: column;
                div {
                    display: flex;
                    p {
                        margin-top: 0;
                        margin-right: 2%;
                        small {
                            color: #C4C4C4;
                            font-weight: 300;
                            font-size: 13px;
                        }
                    }
                }
            }
            .total{
                padding: 3% 10%;
                border-radius: 50px;
                border: 1px solid #F1F1F1;
                background-color: #F1F1F1;
                text-align: center;
                margin-bottom: 10%;
            }
        }
        .two {
            display: flex;
            gap: 25%;
            margin-left: 12%;
        }
    }
}

.div2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 4%;
    :first-child {
        flex-grow: 4;
        margin-left: 3%;
    }
    :nth-child(2) {
        flex-grow: 1;
        a {
            padding: 2% 2%;
            margin-right: 2%;
            border-radius: 40px;
            color: black;
            &:first-child {
                border: 1px solid rgb(182, 182, 182);
                background-color: white;
            }
            &:nth-child(2) {
                border: 1px solid #FBB03B;
                background-color: #FBB03B;
            }
            }
            :hover {
                cursor: pointer;
        }
    }
}
